{{#with article}}
<h2>{{title}}</h2>
<h4>by: {{author}}</h4>
<p>{{body}}</p>
{{/with}}

{{#if deleteSuccessful}}
{{else}}
<h3>Article: {{urlTitle}} could not be deleted because it could not be found</h3>
{{/if}}