{{#if deleteSuccessful}}
<h3>Product: {{id}} was successfully deleted.</h3>
{{/if}}

<h1>Product List:</h1>

{{#each products}}
<h3>Product {{this.id}}: {{this.name}}</h3>
<ul>
  <li>
    Price: {{this.price}}
  </li>
  <li>
    Inventory: {{this.inventory}}
  </li>
</ul>
{{/each}}